/*

Title of project
Author's name

Some description of the CSS styling

*/

/* Actual CSS goes below here! */



body{

background-color:#ff9966;



}
h1{font-family: 'Fredoka One', cursive;
color:#4d4d4d;
font-size: 60px;
text-align: center;
padding: 30px 0 0 0;
animation-timing-function: ease-in-out;
animation-delay: 1s;}

h2{
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
  color:#4d4d4d;
  font-size: 40px;
  text-align: center;
  padding: 0 0 0 0;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}



img {  display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: bounceInUp;
    animation-timing-function: ease-in-out;
    }
