/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body, html {



  height: 100%;
   margin: 0;
}

.background{  background-image: url();
  height: 100%;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;}

/*Css for mail modal box */
.modal-title{font-family: sans-serif;
font-size: 20px;
border-bottom: 1px solid;}

.modal-title1{font-family: sans-serif;
font-size: 15px;
text-align: right;}

 p{ color: black;
text-align: left;
font-family: sans-serif;
font-size: 20px;
 line-height: 100%;
}
/*Real time css*/
#time{ color: white;
text-align: right;
font-family: sans-serif;
font-size: 20px;
line-height: 100%;
padding: 0 40px 0 0;
}

.time-right {
    float: right;
    color: #000;
    font-family: sans-serif;
}

.button{ padding: 12px 16px;
 margin: 80px 50px 0px 0;
 cursor: pointer;
 float:right; clear:right;
display: block;
max-width:50%;
 transition: all linear 0.5s;

}

/*folder images */
#folder{padding: 0 80px 100px 80px;}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     cursor: pointer;
     -webkit-transition-duration: 0.4s;
   	transition-duration: 0.4s;




}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 60px;
    border: 1px solid #888;
    width: 80%;
      border-radius: 10px;
       -webkit-animation-name: anim-open;
     	animation-name: anim-open;
     	-webkit-animation-timing-function: cubic-bezier(0.6,0,0.4,1);
     	animation-timing-function: cubic-bezier(0.6,0,0.4,1);
      -webkit-animation-duration: 0.4s;
      animation-duration: 0.4s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
     cursor: pointer;
      transition: all linear 0.5s;


}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
     transition: all linear 0.5s;
}

/* Css for  chatbox */
.modal-title2{font-family: sans-serif;
  font-size: 20px;
text-align: center;}

.modal-title3{font-family: sans-serif;
text-align: center;
font-weight: lighter;}

.container {

    background-color: #ffff00;
    border-radius: 5px;
    padding: 0px;
    margin: 20px 0;

}

.profile{   float: left;
    max-width: 55px;
    width: 100%;
    margin-right: 10px;
      border-radius: 50%;
}


    .profile2{   float: left;
        max-width: 55px;
        width: 100%;
        margin-right: 10px;
              border-radius: 50%;

    }
.chatbox1 {    color: #000;
    font-family: sans-serif;
  padding: 20px 0 0 0;}

    .chatbox2 {    color: #fff;
        font-family: sans-serif;}

        .chatbox3 {    color: #000;
            font-family: sans-serif;
          padding: 0px 0 0 0;}
          .chatbox4 {    color: #000;
              font-family: sans-serif;
            padding: 30px 0 0 0;}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}


/*Acayri box container*/
.container2 {
    border: 2px solid #0000;
    background-color: #4f4f4f;
    border-radius: 5px;
    padding: 0px;
    margin: 20px 0;}

    .container2::after {
        content: "";
        clear: both;
        display: table;
    }


            .modal-content2 {
                background-color: #000;
                margin: auto;
                padding: 60px;
                border: 1px solid #000;
                width: 80%;
                  border-radius: 10px;
                   -webkit-animation-name: anim-open;
                   animation-name: anim-open;
                   -webkit-animation-timing-function: cubic-bezier(0.6,0,0.4,1);
                   animation-timing-function: cubic-bezier(0.6,0,0.4,1);
                  -webkit-animation-duration: 0.4s;
                  animation-duration: 0.4s;
                  -webkit-animation-fill-mode: forwards;
                  animation-fill-mode: forwards;

            }


/*time css*/
    .time-right2 {
        float: right;
        color: #ffff;
        font-family: sans-serif;}


/* sphere web css*/

        .modal-title4{font-family: sans-serif;
  float: left;
      color: #000;
    font-size: 45px;
    padding: 0px;
    margin: 30px 60px 10px 0;}



        .modal-content3 {
            background-color: #fefefe;
            margin: auto;
            padding: 150px;
            border: 1px solid #888;
            width: 40%;
              border-radius: 10px;
               transition: all linear 0.5s;
               overflow:auto;
               -webkit-animation-name: anim-open;
               animation-name: anim-open;
               -webkit-animation-timing-function: cubic-bezier(0.6,0,0.4,1);
               animation-timing-function: cubic-bezier(0.6,0,0.4,1);
              -webkit-animation-duration: 0.4s;
              animation-duration: 0.4s;
              -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;

        }


.web{width: 70%;
height: 10%;
float: left;}




/*animation for the modal content*/
@-webkit-keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); transform: scale3d(0, 0, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); }
}

@keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); transform: scale3d(0.5, 0.5, 1); }
}
