/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/


#message{display: none;
cursor: pointer;}

#message2{display: none;
cursor: pointer;}

#menu{display: none;}
