/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {

}

button { background-color: #ff99cc;
border-radius: 4px;
padding: 10px 14px;
margin: 500px 0px 0 60px;
color: white;
font-family: 'VT323', monospace;
text-align: center;
font-weight: lighter;
font-size: 24px;
 border: none;
  text-decoration: none;
  cursor: pointer;


}

p{color: white;
font-family: 'VT323', monospace;
font-size: 44px;
padding: 200px 0 0 60px;
position: absolute;}

button a { text-decoration: none;}

button:hover{ background-color: #f26b91;}

.character{
  position: absolute;
  left: 1000px;
  top: 15px;
  z-index: -1;


}

.character2{
  position: absolute;
  left: 1000px;
  top: 15px;
  z-index: -1;
  display: none;


}



.logo{  position: absolute;
  padding: 50px 0 0 60px;

}
